.regions {
    fill: #ccd5ae;
    stroke:#e5e5e5;
    stroke-width: 1px;
}
.gratLines {
    fill: none;
    stroke: #ccd5ae;
    stroke-width: 2px;
}
.map {
    border: black ;
}
.gratBackground {
    fill: #e5e5e5;
}