.regions {
    stroke: #000;
    stroke-width: 0.5px;
    stroke-linecap: round;
}

.map {
    margin: 7px 20px 0 0;
    float:left;
}

.chart {
    float: right;
    margin: 7px 20px 0 0;
}

.chartTitle {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.0em;
    font-weight: bold;
    color:  #313715;
}

.chartBackground {
    fill: #efe5dc;
}

.chartFrame {
    fill: none;
    stroke:  #313715;
    stroke-width: 3px;
    shape-rendering: crispEdges;
}

.axis path,
.axis line {
    fill: none;
    stroke: #313715;
    stroke-width: 1px;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.8em;
    fill: #313715;
}

.dropdown {
    position: absolute;
    z-index: 10;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    font-weight: bold;
    padding: 2px;
    border: 1px solid  #313715;
    box-shadow: 2px 2px 4px #999;
    background-color: #efe5dc;
}

option {
    font-weight: normal;
}

.infolabel {
    margin: 0 20px 0 0;
    position: absolute;
    height: 50px;
    min-width: 100px;
    color: #fff;
    background-color: #c1121f;
    border: solid thin #fff;
    padding: 5px 10px;
    top: -75px;
    font-family: 'Open Sans', sans-serif;
}

.infolabel h1 {
    margin: 0 20px 0 0;
    padding: 0;
    display: inline-block;
    line-height: 1em;
    font-family: 'Open Sans', sans-serif;
}

.title{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    text-align: center;
    color:#313715
}
.paragraph{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    text-align: left;
    color: #313715

}
.legend {
    position: absolute;
    font-family: 'Open Sans', sans-serif;
    text-align: left;
    color: #313715;
    font-weight: bold;
    margin: 7px;
}
